.header {
    background-color: $darkBlue;
    color: $white;
    padding-top: 28px;
    padding-bottom: 50px;
    position: relative;

    &__img {
        position: absolute;
        content: '';
        right: 0;
        bottom: 0;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 100px;

    }

    &__menu-list {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    &__menu-link {
        font-weight: 400;
        font-size: 15px;
        line-height: 19px;
    }

    &__basket-btn {
        display: flex;
        align-items: center;
        gap: 4px;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        max-width: 100px;
    }

    &__burger-btn {
        display: none;
    }

    &__title {
        font-weight: 400;
        font-size: 72px;
        line-height: 76px;
        max-width: 604px;
        margin-bottom: 34px;
    }

    &__text {
        font-size: 22px;
        line-height: 34px;
        max-width: 543px;
        margin-bottom: 44px;
    }

    &__btn {
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        color: $black;
        padding: 20px 80px 20px 40px;
        background-color: #fff;
        border: 2px solid #FFF;
        border-radius: 32px;
        position: relative;

        &::after {
            position: absolute;
            content: '';
            width: 24px;
            height: 24px;
            right: 40px;
            top: 29%;
            background-image: url(../images/header__btn-icon.svg);
        }
    }

    &__award {
        margin-top: 122px;
        padding-left: 84px;
        position: relative;

        &::before {
            position: absolute;
            content: '';
            width: 64px;
            height: 64px;
            left: 0;
            top: -5px;
            background-image: url(../images/header__award-icon.svg);
        }

        & p+p {
            margin-top: 7px;
            color: rgba(255, 255, 255, 0.6);

        }

        & p {
            font-size: 18px;
            line-height: 26px;
        }
    }
}

@media (max-width: 1250px) {
    .header {
        &__content {
            z-index: 5;
        }

        &__img {
            z-index: 2;
            opacity: 0.2;
        }
    }
}

@media (max-width: 700px) {
    .body-lock{
        overflow: hidden;
    }
    .header {
        overflow: hidden;
        position: relative;

        &__burger-menu {
            position: absolute;
            content: '';
            right: 0%;
            top: 0%;
            z-index: 6;
            background-color: $darkBlue;
            height: 100vh;
            transform: translateX(100%);
            transition: all .5s ease;

            &--active {
                transform: translateX(0);
                transition: all .5s ease;
            }
        }

        &__menu {
            padding: 80px 50px 80px 150px;
        }

        &__menu-list {
            flex-direction: column;
            text-align: center;
        }

        &__basket {
            margin-left: auto;
            z-index: 7;
        }

        &__burger-btn {
            display: block;
            width: 30px;
            height: 20px;
            position: relative;
            margin-left: 20px;
            z-index: 7;

            &::after,
            &::before,
            & span {
                position: absolute;
                content: '';
                width: 30px;
                height: 2px;
                background-color: #fff;
                transition: all .5s ease;
            }

            &::before {
                bottom: 0;
            }

            & span {
                top: 45%;
            }

            &--active::after {
                transform: rotate(45deg);
                top: 35%;
                transition: all .5s ease;
            }

            &--active::before {
                transform: rotate(-45deg);
                bottom: 52%;
                transition: all .5s ease;
            }

            &--active span {
                transform: scale(0);
            }
        }
    }
}

@media (max-width: 560px) {
    .header {
        &__title {
            font-size: 50px;
            line-height: 59px;
            margin-bottom: 14px;
        }
        &__award{
            margin-top: 60px;
        }
    }
}

@media (max-width: 281px) {
    .header{
        &__basket{
            opacity: 0;
            transition: all .7s ease;
            &--active{
                opacity: 1;
                transition: all .7s ease;
            }
        }
    }
}