.process {
    padding: 150px 0;

    &__inner {
        display: flex;
        justify-content: space-between;

    }

    &__wrapper {
        & .process__inner:nth-child(1) {
            align-items: flex-end;
            margin-bottom: 165px;
        }
        & .process__inner:nth-child(2) .process__item:nth-child(1),
        & .process__inner:nth-child(2) .process__item:nth-child(2){
            position: relative;
            &::after{
                position: absolute;
                content: '';
                width: 64px;
                height: 24px;
                right: 19%;
                top: 5%;
                background-image: url(../images/process__arrow.svg);
            }
        }
       
    }

    &__title {
        font-family: $spaceGrotesk;
        font-size: 60px;
        line-height: 64px;
        letter-spacing: 1.2px;
        max-width: 461px;
        margin-top: 13px;
    }

    &__text {
        font-size: 22px;
        line-height: 34px;
        max-width: 406px;
    }

    

    &__item-num {
        font-size: 48px;
        line-height: 54px;
        color: $purple;
        margin-bottom: 72px;
    }

    &__item-title {
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 11px;
    }

    &__item-text {
        font-size: 12px;
        line-height: 28px;
        max-width: 379px;
    }

    &__wrapper .process__inner:nth-child(2) .process__item:nth-child(3) .process__item-text{
        max-width: 374px;
        font-size: 18px;
    }
}

@media (max-width: 1000px){
    .process{
        padding: 100px 0;
        &__wrapper{
            & .process__inner:nth-child(1){
                flex-direction: column;
                gap: 50px;
                align-items: flex-start;
                margin-bottom: 50px;
            }

            & .process__inner:nth-child(2) .process__item:nth-child(3) .process__item-text{
                font-size: 13px;
            }

          
        }
        &__item-text{
            font-size: 12px;
            line-height: 19px;
            max-width: 228px;
        }
    }
}

@media (max-width: 900px) {
    .process{
        padding: 50px 0;
        &__wrapper{
            & .process__inner:nth-child(2){
                flex-direction: column;
                align-items: center;
                text-align: center;
                gap: 50px;

            }
        }
    }

    .process__wrapper .process__inner:nth-child(2) .process__item:nth-child(1)::after, 
    .process__wrapper .process__inner:nth-child(2) .process__item:nth-child(2)::after{
        right: 35%;
        top: 39%;
        transform: rotate(90deg);
    }
}

@media (max-width: 500px) {
    .process{
        &__wrapper{
            & .process__inner:nth-child(1){
                gap: 30px;
            }
        }
        &__title{
            font-size: 38px;
            line-height: 34px;
        }
        &__text{
            font-size: 14px;
            line-height: 20px;
            max-width: 275px;
        }
    }
}