.services {
    padding-top: 145px;
    padding-bottom: 145px;
    background-color: $darkBlue;
    color: $white;

    &__line{
        position: relative;
        &::after{
            position: absolute;
            content: '';
            width: 168px;
            height: 44px;
            right: 0;
            bottom: 0;
            background-image: url(../images/services__design-line.svg);
        }
        & .services__content:nth-child(1){
            justify-content: start;
            gap: 167px;
            margin-bottom: 75px;
        }

        & .services__content:nth-child(2){
            align-items: center;
            justify-content: flex-end;
            gap: 175px;
            & .services__items{
                align-items: center;
            }
        }

        & .services__content:nth-child(2) .services__item:nth-child(1) .services__item-text{
            max-width: 271px;
        }
        & .services__content:nth-child(2) .services__item:nth-child(2) .services__item-text{
            max-width: 233px;
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;

        & .services__item:nth-child(1) .left__title {
            color: $white;

            &::before {
                background-image: url(../images/services__title-line.svg);
            }
        }

    }
    &__items{
        display: flex;
        gap: 120px;
        & .services__item:nth-child(1){
            max-width: 289px;
        }
        & .services__item:nth-child(2){
            max-width: 277px;
        }
    }

    &__title {
        font-size: 48px;
        line-height: 54px;
        margin-top: 22px;
        max-width: 352px;
    }

    &__item-title {
        font-size: 24px;
        line-height: 30px;
        margin-top: 20px;
        margin-bottom: 23px;
    }

    &__item-text {
        font-size: 18px;
        line-height: 28px;
    }

    &__btn {
        font-size: 18px;
        line-height: 25px;
        color: $black;
        padding: 22px 84px 22px 42px;
        background-color: #fff;
        border: 2px solid #FFFFFF;
        border-radius: 32px;
    }
}

@media (max-width: 1210px) {
    .services{
        padding-top: 60px;
        padding-bottom: 30px;
        &__line{
            padding-bottom: 135px;
            & .services__content{
                flex-direction: column;
                flex-wrap: wrap;
            }
            & .services__content:nth-child(1){
                gap: 75px;
            }
            & .services__content:nth-child(2){
                gap: 90px;
            }
        }
        &__items{
            justify-content: center;
            text-align: center;
            flex-wrap: wrap;
            gap: 75px;
        }
        &__btn{
            padding-right: 42px;
        }
    }
}

