.work {
    padding-bottom: 206px;


    &__head {
        margin-bottom: 78px;
    }

    &__head .left__title::before {
        top: 22%;
    }

    &__title {
        font-size: 60px;
        line-height: 66px;
        max-width: 698px;
        margin-top: 26px;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        
        & + .work__content{
            margin-bottom: 174px;
            margin-top: 79px;
        }
    }

    &__content .work__item:nth-child(1) .work__item-info,
    &__content .work__item:nth-child(4) .work__item-info {
        max-width: 510px;
    }

    &__content .work__item:nth-child(4) {
        justify-self: end;

    }

    &__content .work__item:nth-child(2) .work__item-info,
    &__content .work__item:nth-child(3) .work__item-info {
        max-width: 620px;
    }

    &__item-info {
        margin-top: 32px;
    }

    &__item-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 23px;

    }

    &__item-title {
        font-size: 24px;
        line-height: 30px;
    }

    &__item-text {
        font-size: 12px;
        line-height: 28px;
        max-width: 500px;
    }

    &__button {
        display: flex;
        justify-content: center;
    }

    &__btn {
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        text-transform: uppercase;
        padding: 60px 44px;
        background-color: $purple;
        color: $white;
    }
    & img {
    
    }
}

@media (max-width: 1150px) {
    .work{
        & img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &__content{
            align-items: center;
            flex-direction: column-reverse;
        }
    }
}

@media (max-width: 500px) {
    .work{
        padding-bottom: 50px;
        &__head{
            margin-bottom: 40px;
        }
        &__title{
            font-size: 35px;
            line-height: 45px;
            margin-top: 10px;
        }
        &__content + .work__content{
            margin-bottom: 50px;
        }
    }
}