@import '_vars';
@import '_reset';
@import '_mixing';
@import '_header';
@import '_about';
@import '_work';
@import '_services';
@import '_testimonials';
@import '_process';
@import '_shop';

body {
    font-family: $epilogue;
    color: $black;
}

.container {
    max-width: 1300px;
    padding: 0 10px;
    margin: 0 auto;
}

.left__title {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $purple;
    padding-left: 92px;
    position: relative;

    &::before {
        position: absolute;
        content: '';
        width: 72px;
        height: 10px;
        left: 0;
        top: 15%;
        background-image: url(../images/lleft__title-line.svg);
    }
}

.section {
    &__head {
        text-align: center;
    }

    &__title {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: $purple;
        position: relative;
        max-width: 327px;
        margin: 0 auto;
        margin-bottom: 22px;

        &::after,
        &::before {
            position: absolute;
            content: '';
            width: 72px;
            height: 10px;
            top: 23%;
            background-image: url(../images/lleft__title-line.svg);
        }

        &::after {
            right: 0;

        }

        &::before {
            left: 0;
        }
    }

    &__subtitle {
        font-size: 60px;
        line-height: 66px;
        max-width: 623px;
        margin: 0 auto;
    }
}

.view-btn {
    font-size: 18px;
    line-height: 19px;
    color: $purple;
    padding-right: 34px;
    padding-bottom: 12px;
    position: relative;
    border-bottom: 2px solid  rgba(69, 67, 232, 0.2);
    max-width: 188px;
    margin: 0 auto;
    &::after{
        position: absolute;
        content: "";
        height: 24px;
        width: 24px;
        right: 0;
        top: -10%;
        background-image: url(../images/view__btn-arrow.svg);

    }
}