@import '_vars';
@import '_reset';
@import '_mixing';
@import '_header';
@import '_about';
@import '_work';
@import '_services';

body {
    font-family: $epilogue;
    color: $black;
}

.container {
    max-width: 1300px;
    padding: 0 10px;
    margin: 0 auto;
}

.left__title {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $purple;
    padding-left: 92px;
    position: relative;
    &::before{
        position: absolute;
        content: '';
        width: 72px;
        height: 10px;
        left: 0;
        top: 15%;
        background-image: url(../images/lleft__title-line.svg);
    }
}